# Ignore build output folders
/Debug/
/Release/

# Ignore STM32CubeIDE metadata caches
/.settings
/.metadata/
/.project
/.cproject

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore this file that for some reason does not want to be ignored by gitignore
.settings/stm32cubeide.project.prefs
